.dict_button_block {
    display:block;
    width:20px;
    height:120px;
    position:fixed;
    right:0px;
    top:200px;
    z-index:5;
    border:1px solid #2c807f;
}

.dict_button_text{
    color:#2c807f;
    font-size: 10pt;
    font-weight:lighter;
    margin:65px 0 0 0;
    text-align: justify;
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    writing-mode: tb-rl;
}
.dict_search_input{
    width: 180px;
}

.dict_search_result{
     font-size: smaller;
     overflow:auto;
     max-height: 300px;
 }

.dict_search_history{
    overflow:auto;
    max-height: 200px;
    list-style: square;
}