
table.tat-rule-grammar {
  border-collapse: collapse;
  margin-left: 1em;
  margin-right: 1em;
  width: 90%;

  caption  {
    color: $mainColor;
    font-size: 1.5em;
  }
  th, td {
    display: table-cell;
    border: 1px dotted $borderColor;
    vertical-align: inherit;
    padding: 0.3em;
  }
  td.link{
    color: $mainColor;
    text-decoration: underline;
  }

  th {
    color: #5a5a5a;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 0.0em;
    line-height: 1.5em;
    text-transform: none;
    text-align: center;
  }

  td {
    font-weight: 400;
  }

}
