.tat-highlight {
  background-color: $highlightColor;
  color: inherit;
}

.tat-highlight-dirty {
  background-color: $highlightColor;
  color: $alertColor;
}

.tat-highlight-process {
  cursor: progress;
  -webkit-animation: process 2s infinite; /* Chrome, Safari, Opera */
  -moz-keyframes: process 2s infinite; /* Firefox */
  animation: process 2s infinite;
}

.tat-highlight-over {
  background-color: $selectedColor;
  cursor: pointer;
  color: $fonColor;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes process {
  0%   {background: $highlightColor; }
  50%  {background: $fonColor; color: inherit; }
  100% {background: $highlightColor; }
}
/* Firefox */
@-moz-keyframes process {
  0%   {background: $highlightColor; }
  50%  {background: $fonColor; color: inherit; }
  100% {background: $highlightColor; }
}
/* Standard syntax */
@keyframes process {
  0%   {background: $highlightColor; }
  50%  {background: $fonColor; color: inherit; }
  100% {background: $highlightColor; }
}