.tat-highlight {
  background-color: $highlightColor;
  color: inherit;
}
.tat-highlight-dirty {
  background-color: $highlightColor;
  color: $errorColor;
}
.tat-highlight-process {
  background-color: $highlightProcessColor;
  color: $processColor;
}