.tat-highlight {
  background-color: $highlightColor;
  color: inherit;
}

.tat-highlight-dirty {
  color: $errorColor;
}

.tat-highlight-process {
  -webkit-animation: process 3s; /* Chrome, Safari, Opera */
  animation: process 3s;
}

.tat-highlight-over {
  background-color: $selectedColor;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes process {
  from {background: $highlightColor;}
  to {background: $mainColor;}
}

/* Standard syntax */
@keyframes process {
  from {background: $highlightColor;}
  to {background: $mainColor;}
}