blockquote {
  border-left: 1px solid $borderColor;
  font-weight: 500;
  font-style: normal;
  padding: 0 1.2em;
}

.term-name {
  font-weight: 700;
}

.term-description {
  font-weight: 500;
  color: $descriptionColor;
}

.term-abbr {
}

.term-italic {
  font-style: italic;
}

.term-example {
  color: $exampleColor;
  font-size: 85%;
  font-weight: 700;
}


.term-comment {
  color: $commentColor;
}

.term-color {
  font-weight: 500;
  background-color: $colorColor;
}