blockquote {
  border-left: 1px solid $borderColor;
  font-weight: 500;
  font-style: normal;
  padding: 0 1.2em;
}

.term-name {
  font-weight: 700;
}

.term-description {
  font-weight: 500;
}

.term-abbr {
}

.term-italic {
  font-style: italic;
}

.term-example {
  color: #536774;
  font-size: 90%;
}


.term-co {
  color: $selectedColor;
}

.term-c {
  font-weight: 500;
  background-color: $highlightColor;
}