.tat-search-input {
  width: 180px;
}

.tat-icon {
  color: $mainColor;
}
.tat-add {
  color: $alertColor;
}

.tat-search-linked {
  font-weight: 700;
  overflow: hidden;
  color: $mainColor;
  border-bottom: 1px dashed $mainColor; /* Добавляем свою линию */
}

.tat-search-description {
  font-weight: 500;
  font-size: 90%;
  overflow: auto;
  max-height: 300px;
}

.tat-modal-group{
  margin: 0px -25px 0px -25px;
}
