<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>WP Plugin Example</title>
    <link href="../../lib/bootstrap/dist/css/bootstrap.css" type="text/css" rel="stylesheet" media="screen">
    <script>
        var wp_ajax = { ajaxurl :"./example.json", ajaxnonce: null };
    </script>
    <script src="../../lib/angular/angular.js" type="text/javascript"></script>
    <script src="../../lib/angular-cookies/angular-cookies.js" type="text/javascript"></script>
    <script src="../../lib/angular-sanitize/angular-sanitize.js" type="text/javascript"></script>
    <script src="../../lib/angular-resource/angular-resource.js" type="text/javascript"></script>
    <script src="../../lib/angular-bootstrap/ui-bootstrap-tpls.js" type="text/javascript"></script>
    <script src="js/app.js" type="text/javascript"></script>
</head>
<body ng-app="wpApp">
    <p dict-watch>Гүя ул гомере буе яшәмәгән, гүя ул гомере буе йоклаган да менә бүген кинәт кенә уянып киткән. Гомере буе акылын бутап, фикерен адаштырып килгән уйлар бүген кинәт кенә бер җепкә тезелгән кебек булдылар. Дөнья аңа бик тә гади булып тоелды. Тирә-юньдәге кул чабуларга, соклану авазларына аз гына да игътибар итмичә, ул башны чәнчеп, авырттырып, мине кайнатып агылучы уйлар ташкынына иярде. Тора-бара уйлар белән баш мие тулыр да баш сөяге, урталай ярылып, ике карбыз кисәге кебек идәнгә тәгәрәп төшеп китәр сыман. Ә уйлар һаман килделәр дә килделәр…
    </p>

    <script type="text/ng-template" id="dictModalContent.html">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">×</button>
                <h4 class="modal-title">Cүзлек<span ng-if="request.title"> - {{ request.title }}</span></h4>
            </div>
            <div class="modal-body">
                <form>
                    <table>
                        <tr>
                            <td>
                                <input class="widefat" id="tatdict_widget_word" type="text" ng-model="request.name" ng-mousedown="copyText()"
                                       placeholder="Языгыз" style="width: 180px"/><br/>
                                <select ng-model="result.name" size="5" style="width: 180px">
                                    <option ng-repeat="likeItem in result.like"	value="{{ likeItem.name }}"
                                            ng-selected="{{likeItem.id == result.id}}"
                                            title="{{likeItem.description}}">{{ likeItem.name }}</option>
                                </select>
                            </td>
                            <td>
                                <div>Сорау</div>
                                <select size="5" style="width: 180px">
                                    <option ng-repeat="historyItem in history"	value="{{ historyItem.title }}"
                                            ng-selected="{{historyItem.name == result.name}}">
                                        {{ historyItem.title }}<span ng-if="historyItem.name"> ({{ historyItem.name }})</span></option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div ng-show="meaning.description" ng-bind-html="meaning.description"  style="font-size: smaller; overflow:auto; max-height: 400px;">
                                </div>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="save()">Сакларга</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="close()">Ябырга</button>

            </div>
        </div>
    </script>

    <div ng-controller="DictHandlerCtrl">
        <button ng-click="dictToggle()">
            <span ng-if="dictIsEnabled()">Кабызган</span>
            <span ng-if="!dictIsEnabled()">Сүндергән</span>
        </button>
        <button ng-click="dictOpen()" ng-disabled="!dictIsEnabled()">Ачырга</button>
    </div>


</body>
</html>